extends ../layouts/base.pug
block content
    main
        h1 Products
        div.flex
            p Total products: #{products.length}
            a(href='/products/create') New product
        table
            thead
                tr
                    th Name
                    th Price
                    th .
            tbody
                each product in products
                    tr
                        td= product.name
                        td= product.price
                        td
                            a(href=`/products/${product.id}`) View
